@import "tailwindcss";

#University {
  width: 130px;       
  max-width: 250px;   
}
#state{

 width: 150px;       
  max-width: 250px;

}

dialog::backdrop{
  @apply bg-black/40;
  backdrop-filter: blur(4px);
}


#district{

 width: 120px;       
  max-width: 250px;

}

#institution{

 width: 130px;       
  max-width: 250px;

}



#programme{
 width: 140px;       
  max-width: 250px;

}


